# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.
# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.
# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NODE_ENV="development"

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/animalert"

# AWS
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
AWS_REGION="eu-central-1"
AWS_S3_BUCKET_NAME="animalert-images-example"
AWS_S3_PDF_BUCKET_NAME="animalert-pdfs-example"

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY"
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID="YOUR_GOOGLE_MAPS_MAP_ID"

# Email
NODEMAILER_SERVICE="gmail"
EMAIL_ADMIN="admin@example.com"
EMAIL_USER="noreply@example.com"
EMAIL_PASS="your-email-app-password"
EMAIL_FROM="AnimAlert <noreply@example.com>"

# SMS
SNS_TOPIC_ARN="arn:aws:sns:eu-central-1:123456789012:sms-alerts-example"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_example_publishable_key"
CLERK_SECRET_KEY="sk_test_example_secret_key"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
