@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Neutral */
  --neutral: oklch(96.42% 0 0);
  --neutral-foreground: oklch(22.64% 0 0);
  --neutral-stroke: oklch(88.53% 0 0);
  --neutral-hover: oklch(76.36% 0 0);
  --neutral-active: oklch(87.3% 0 0);

  /* Primary */
  --primary: oklch(84.42% 0.172 84.93);
  --primary-foreground: oklch(22.64% 0 0);
  --primary-stroke: oklch(71.4% 0.145 85.03);
  --primary-hover: oklch(81.79% 0.171 77.95);
  --primary-active: oklch(78.39% 0.172 68.09);
  --primary-disclaimer: oklch(96.4% 0.051 92.55);

  /* Secondary */
  --secondary: oklch(42.58% 0.113 130.14);
  --secondary-foreground: oklch(96.42% 0 0);
  --secondary-stroke: oklch(39.62% 0.105 130.12);
  --secondary-hover: oklch(52.92% 0.143 130.92);
  --secondary-active: oklch(37.25% 0.099 130.18);

  /* Tertiary */
  --tertiary: oklch(94.66% 0.013 126.37);
  --tertiary-foreground: oklch(42.58% 0.113 130.14);
  --tertiary-stroke: oklch(42.58% 0.113 130.14);
  --tertiary-hover: oklch(52.92% 0.143 130.92);
  --tertiary-hover-foreground: oklch(96.42% 0 0);
  --tertiary-active: oklch(37.25% 0.099 130.18);
  --tertiary-border: oklch(83.64% 0.038 123.79);

  --destructive: var(--color-red-500);

  /* Disabled */
  --disabled: oklch(59.99% 0 0);
  --disabled-foreground: oklch(34.85% 0 0);
  --disabled-stroke: oklch(59.99% 0 0);
}

@theme {
  --font-baloo-2: "Baloo 2", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  /* Neutral */
  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-stroke: var(--neutral-stroke);
  --color-neutral-hover: var(--neutral-hover);
  --color-neutral-active: var(--neutral-active);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-stroke: var(--primary-stroke);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-primary-disclaimer: var(--primary-disclaimer);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-stroke: var(--secondary-stroke);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);

  /* Tertiary */
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary-stroke: var(--tertiary-stroke);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-hover-foreground: var(--tertiary-hover-foreground);
  --color-tertiary-active: var(--tertiary-active);
  --color-tertiary-border: var(--tertiary-border);

  /* Destructive */
  --color-destructive: var(--destructive);

  /* Disabled */
  --color-disabled: var(--disabled);
  --color-disabled-foreground: var(--disabled-foreground);
  --color-disabled-stroke: var(--disabled-stroke);
}

.text-heading-1 {
  font-family: var(--font-baloo-2);
  @apply text-4xl;
  @apply md:text-5xl;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -3%;
}

.text-heading-2 {
  font-family: var(--font-baloo-2);
  @apply text-[1.75rem];
  @apply md:text-[2rem];
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -3%;
}

.text-heading-3 {
  font-family: var(--font-baloo-2);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.text-subheading {
  font-family: var(--font-poppins);
  @apply text-[1.125rem];
  @apply md:text-[1.25rem];
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
}

.text-body {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
}

.text-body-strong {
  font-family: var(--font-poppins);
  @apply text-[0.5rem];
  @apply md:text-[1rem];
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
}

.text-body-small {
  font-family: var(--font-poppins);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1%;
}

.text-body-small-strong {
  font-family: var(--font-poppins);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1%;
}

.text-single-line-body-base {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.text-single-line-body-base-strong {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}
